__pycache__/
.idea/

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
static/images/
instance/
.webassets-cache

target/

.python-version

.env

venv/
ENV/